body {
  background-color: #d8d8d8;
  margin: 0;
}
.navbar {
  background-color: #D4707A;
  overflow: hidden;
}
h2{
 text-align: center;
}
ul {
  margin-left: 150px;
}
.navbar h1 {
  font-size: 25px;
  display: inline;
  font-family: "Capriola", sans-serif;
  font-weight: 150;
  color: white;
}
li {
  display: inline;
}
.nav-menu {
  margin-left: 30px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}
.barra {
  background-color: white;
  width: 1200px;
  margin-top: 30px;
  font-family: "Capriola", sans-serif;
  padding: 3px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
}
.active {
  color: grey;
}
/*area juego - tablero*/
.row {
  width: 85%;
  display: flex;
  margin: auto;
}

#juego-damas {
  width: 70%;
  padding: 20px;
}

#tablero-marco{
    background-color: rgb(252, 252, 252);
    margin: auto;
}

#tablero-damas{
  border-collapse: collapse;
  border: 0;
}

.casilla-blanca{
  width: 60px;
  height: 60px;
  background-color: rgb(255, 255, 255);
}

.casilla-negra{
  width: 60px;
  height: 60px;
  background-color: rgb(0, 0, 0);
}

.ficha-blanca{
  background-image: url(img/PieceWhite.png);
}

.ficha-negra{
  background-image: url(img/PieceRed.png);
}

.casilla-seleccionada{
  border: 3px solid greenyellow;
}

.boton{
  margin-top: 50px;
  background: #4cacf1;
  padding: 20px 50px;
  border-radius: 5%;
  color: white;
  border: 2px solid black;
  font-size: 20px;
  margin-left: 43%;
  margin-bottom: 50px;
  border-radius: 9px;
  
}
/* .circulo{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: auto;
    margin-top: 2px;
} */


.descripcion{
  margin: 20px 0 10px 0;
  padding: 10px;
  border-radius: 4px;
  background: #efefef;
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
}

p{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

footer{
  padding: 19px 14px;
  margin-top: 40px;
  border-top: 1px solid #CAC3C3;
  background-color: white;
}

.footer p {
  margin-bottom: 0;
  color: #777;
  padding: 11px;
  font-size: 12px;
  margin-left: 200px;
}

@media (max-width: 1024px) {

  .row {
    width: 100%;
  }
}

@media (max-width: 880px) {

  .row {
    width: 100%;
    display: block;
    margin: auto;
  }

  #juego-damas {
    width: 100%;
    padding: 0px;
  }

  aside#menu-tablero {
    width: 500px;
    margin: auto;
  }
}


@media (max-width: 768px) {
  .navbar {
    position: absolute;
    background: #4e94ab;
    width: 70%;
    margin-left: -70%;
    transition: all 0.5s;
  }
  .menu ul {
    flex-direction: column;
  }
  .menu li {
    border-top: 1px solid #fff;
  }

  #btn-menu:checked ~ .menu {
    margin: 0;
  }
}